<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

       <div class="span11 text-align: center">
      <hr>

      <div class="jumbotron">
        <h1>Get the Scoop</h1>
		<h3>News Media Distribution Network</h3>
        <p class="lead">Where global news agencies source freelance journalists for</br>breaking stories, photos and video content.</p>
		<div class="row-fluid marketing">
		<div class="span6"><a class="btn btn-large btn-success" <%= link_to("How to Buy Content", {:controller => 'buyers', :action => 'index'}) %></a></div>
		<div class="span6"><a class="btn btn-large btn-success" <%= link_to("How to Sell Content", {:controller => 'sellers', :action => 'index'}) %></a></div></div>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Twitter Alerts by Subject or Person</h4>
		  
          <p> <%= image_tag("tweets.jpg", :size => "50x37", :align =>"left" )%> President Obama, Aaron Rodgers, Taylor Swift... politics, sports or entertainment. Customize your alerts! Read more</p>

          <h4>Exclusive or Common License</h4>
          <p><%= image_tag("crowdsource.jpg", :size => "65x50", :align =>"left" )%>Make an offer to buy out the media rights for yourself or enjoy the great prices of shared usage.</p>

          <h4>Commission Freelance Jouranlists</h4>
          <p><%= image_tag("uno.jpg", :size => "62x54", :align =>"left" )%> Access the outstanding pool of global talent - photographers, videographers and writers. Read more</p>
        </div>

        <div class="span6">
          <h4>Global and Local Politics</h4>
          <p> <%= image_tag("globe.jpg", :size => "63x52", :align =>"left" )%> Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Sports and Entertainment</h4>
          <p> <%= image_tag("sport.jpg", :size => "68x54", :align =>"left" )%>Morbi leo risus, porta consectetur, vestibulum at eros. Cras mattis purus sit amet fermentum.</p>

          <h4>Science and Nature</h4>
          <p> <%= image_tag("science.jpg", :size => "65x46c", :align =>"left" )%> Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <hr>

    </div> </div><!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
